<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Test App</nz-breadcrumb-item>
    <nz-breadcrumb-item>Search</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="flex-container">
    <Flex>
      <nz-tabset>
        <nz-tab nzTitle="Search By Character">
          <FlexItem>
            <div>
              <form class="ant-advanced-search-form">
                <div nz-row [nzGutter]="24">
                  <div nz-col [nzSpan]="24" [hidden]="false">
                    <app-option-select class="item_select" [data]="allPersonsList" (itemSelected)="recordSelected($event)" placeholder="Select a Star Wars Character"></app-option-select>
                  </div>
                </div>
              </form>
            </div>
          </FlexItem>
        </nz-tab>
      </nz-tabset>
    </Flex>
    <nz-divider></nz-divider>
    <Flex>
        <nz-content>
          <div *ngIf="selectedPerson">
            <nz-card [nzLoading]="loading">
              <nz-descriptions nzTitle="Character Info">
                <nz-descriptions-item nzTitle="Name">{{content.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Height">{{content.height}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Mass">{{content.mass}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Hair Color">{{content.hair_color}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Skin Color">{{content.skin_color}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Gender">{{content.gender}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Birth Year">{{content.birth_year}}</nz-descriptions-item>
              </nz-descriptions>

              <nz-divider></nz-divider>

              <nz-descriptions nzTitle="Planet Info">
                <nz-descriptions-item nzTitle="Name">{{content?.homePlanet?.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Population">{{content?.homePlanet?.population}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Terrain">{{content?.homePlanet?.terrain}}</nz-descriptions-item>
              </nz-descriptions>

              <nz-divider></nz-divider>

              <nz-descriptions nzTitle="Related Species Info"></nz-descriptions>

              <nz-list nzBordered>
                <nz-list-item *ngFor="let species of content.personSpecies">
                  <nz-descriptions>
                    <nz-descriptions-item nzTitle="Name">{{species?.name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Average LifeSpan">{{species?.average_lifespan}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Classification">{{species?.classification}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Language">{{species?.language}}</nz-descriptions-item>
                  </nz-descriptions>
                </nz-list-item>
              </nz-list>

              <nz-divider></nz-divider>

              <nz-descriptions nzTitle="Related Film Info"></nz-descriptions>

              <nz-list nzBordered>
                <nz-list-item *ngFor="let film of content.personFilm">
                  <nz-descriptions>
                    <nz-descriptions-item nzTitle="Name">{{film?.title}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Director">{{film?.director}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Producer">{{film?.producer}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Release Date">{{film?.release_date}}</nz-descriptions-item>
                  </nz-descriptions>
                </nz-list-item>
              </nz-list>

            </nz-card>
          </div>
        </nz-content>
    </Flex>
  </div>
</nz-content>
